.future

   .future__wrap

      .future__text

         .future__subparag
            @extend %f12_6-26
            color: $lightRed
            padding-top: 72px
            padding-bottom: 18px
         h2
            @extend %f45-67
            color: $black
            padding-bottom: 38px
         .future__title
            color: $black
            font-weight: 800
            padding-bottom: 36px
         .future__parag
            color: $grey
            padding-bottom: 54px
         button

      .future__container

         .future__captcha
